.lead__caption {
    font-size: 10px;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    color: white;
    text-align: left;
    margin-top: 4px;
    margin-bottom: 0;
    margin-left: 16px;
}

@media (min-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media (min-width: 1024px) {
    .lead__caption {
        /* margin-left: 48px; */
        margin-left: 8vw;
    }
}

@media (min-width: 1240px) {
    .lead__caption {
        margin-left: 0;
    }
}