.cover__title {
    text-align: center;
    font-size: 32px;
    line-height: 1.1;
    margin: 33px auto 16px;
    color: white;
    font-weight: 900;
    width: 75%;
    max-width: 288px;
}

@media  screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 1.05;
        margin: 115px auto 32px;
        max-width: 560px;
    }
}

@media screen and (min-width: 1024px) {
    .cover__title {
        margin: 195px auto 32px;

        width: 50%;
    }
}

@media screen and (min-width: 1240px) {
    .cover__title {
        margin: 245px auto 32px;
        width: 60%;
    }
}