@import url("./__title/place__title.css");
@import url("./__image/place__image.css");
@import url("./__website/place__website.css");
@import url("./__url-heading/place__url-heading.css");
@import url("./__link/place__link.css");
@import url("./__paragraph/place__paragraph.css");
@import url("./__header/place__header.css");
@import url("./__info/place__info.css");
@import url("./__text/place__text.css");

.place {
    margin: 0 auto;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
}

.place:last-child {
    padding-bottom: 64px;
}

@media screen and (min-width: 768px) {
    .place {
        padding-bottom: 72px;
        min-width: 720px;
        max-width: 984px;
    }

    .place:last-child {
        padding-bottom: 88px;
    }
}

@media screen and (min-width: 1024px) {
    .place {
        padding-bottom: 80px;
    }

    .place:last-child {
        padding-bottom: 92px;
    }
}